*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0D192C;
    margin: 152px 0px 152px 0px;
}
.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;
    height: 596px; 
    border-radius: 15px;
    background: #15263F;

    color: var(--Soft-Blue, #8BACD9);
    font-family: Outfit;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; 

}
.main_container .equilibrium{
    width: 302px;
    height: 302px;
    margin-top: 24px;
    border-radius: 8px;
    
    
}

.main_container .main_text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-top: 10px;  
    padding-right: 30px;
    text-align: start;
    
}

.main_container .price_time{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    color: var(--Soft-Blue, #8BACD9);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-right:10px;
}
.main_container .eth_price{
    padding-right: 40px ;
    color: var(--Cyan, #00FFF8);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 5px;
}


.main_container .line{
    width: 270px;
    height: 1px;
    flex-shrink: 0;

    margin-bottom: 2rem;
    margin-right: 15px;
 

}
.last_part{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 6rem;
    margin-top: -1rem;

}
.last_part img{
    width: 33px;
    height: 33px;
    border: 1px solid var(--White, #FFF);
    border-radius: 33px;
}
.last_part p{
    margin-top: 9px;
    padding-left: 15px;

    color: var(--Soft-Blue, #8BACD9);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.last_part span{
    color: var(--White, #FFF);
    font-family: Outfit;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3{
    margin-top: 24px;
    padding-right: 5.3rem;
    padding-bottom: 12px;
    color: var(--White, #FFF);

    font-family: Outfit;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

